﻿h1 {
    color: black;
    font-size: 30px;
}

ul {
    list-style-type: square;
}

a:link {
    color: mediumpurple;
}


p {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    padding: 20px;
}

#firstH {
    position: absolute;
}

#secondH {
    position: absolute;
    font-weight: bold;
    font-size: 40px;
}

#hawk {
    position: absolute;
    top: 350px;
    left: 300px;
    padding: 20px;
    background-color: silver;
    border-style: solid;
    border-width: 5px;
    border-color: pink;
}
