﻿h1 {
    color: black;
    font-size: 30px;
}

﻿h3 {
    color: black;
    font-size: 20px;
}



ul {
    list-style-type: square;
}

a:link {
    color: blue;
}

a:visited{
    color:blue;
}





#firstH {
    position: absolute;
    font-family: "Comic Sans MS", Times, serif;
    font-size: 20px;
    background-color: deepskyblue;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    left: 570px;
}

#intro {
    position: absolute;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-style: italic;
    font-weight:bold;
    color: black;
    padding: 1px;
    top:150px;
    left: 650px;
}

#secondH {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 15px;
}

#right1 {
    position: absolute;
    right: 20px;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: normal;
    padding: 0px;
    top: 750px;
}

#right2 {
    position: absolute;
    left: 685px;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: normal;
    top: 1450px;
}


#left1 {
    position: absolute;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: normal;
    top:400px;
    left: 40px;
}

#left2 {
    position: absolute;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: normal;
    top: 1150px;
    left: 5px;
}

#image1 {
    position: absolute;
    top: 370px;
    right: 200px;
}

#image2 {
    position: absolute;
    top: 690px;
    left: 200px;
}

#image3 {
    position: absolute;
    top: 910px;
    right: 200px;
}

#image4 {
    position: absolute;
    top: 0px;
    right: 0px;
}

#image5 {
    position: absolute;
    top: 0px;
    left: 0px;
}

